In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_json('dados_locacao_imoveis.json')
dados

                                        dados_locacao
0   {'apartamento': 'A101 (blocoAP)', 'datas_combi...
1   {'apartamento': 'A102 (blocoAP)', 'datas_combi...
2   {'apartamento': 'B201 (blocoAP)', 'datas_combi...
3   {'apartamento': 'B202 (blocoAP)', 'datas_combi...
4   {'apartamento': 'C301 (blocoAP)', 'datas_combi...
5   {'apartamento': 'C302 (blocoAP)', 'datas_combi...
6   {'apartamento': 'D401 (blocoAP)', 'datas_combi...
7   {'apartamento': 'D402 (blocoAP)', 'datas_combi...
8   {'apartamento': 'E501 (blocoAP)', 'datas_combi...
9   {'apartamento': 'E502 (blocoAP)', 'datas_combi...
10  {'apartamento': 'F601 (blocoAP)', 'datas_combi...
11  {'apartamento': 'F602 (blocoAP)', 'datas_combi...
12  {'apartamento': 'G701 (blocoAP)', 'datas_combi...
13  {'apartamento': 'G702 (blocoAP)', 'datas_combi...
14  {'apartamento': 'H801 (blocoAP)', 'datas_combi...

In [3]:
dados = pd.json_normalize(dados['dados_locacao'])
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"
5,C302 (blocoAP),"[06/06/2022, 06/07/2022]","[08/06/2022, 12/07/2022]","[$ 1500,0 reais, $ 1200,0 reais]"
6,D401 (blocoAP),"[07/06/2022, 07/07/2022]","[07/06/2022, 09/07/2022]","[$ 1600,0 reais, $ 1300,0 reais]"
7,D402 (blocoAP),"[08/06/2022, 08/07/2022]","[10/06/2022, 14/07/2022]","[$ 1700,0 reais, $ 1400,0 reais]"
8,E501 (blocoAP),"[09/06/2022, 09/07/2022]","[10/06/2022, 09/07/2022]","[$ 1800,0 reais, $ 1500,0 reais]"
9,E502 (blocoAP),"[10/06/2022, 10/07/2022]","[16/06/2022, 12/07/2022]","[$ 1900,0 reais, $ 1600,0 reais]"
10,F601 (blocoAP),"[11/06/2022, 11/07/2022]","[17/06/2022, 13/07/2022]","[$ 2000,0 reais, $ 1000,0 reais]"
11,F602 (blocoAP),"[12/06/2022, 12/07/2022]","[15/06/2022, 12/07/2022]","[$ 2100,0 reais, $ 1100,0 reais]"
12,G701 (blocoAP),"[13/06/2022, 13/07/2022]","[19/06/2022, 20/07/2022]","[$ 2200,0 reais, $ 1200,0 reais]"
13,G702 (blocoAP),"[14/06/2022, 14/07/2022]","[15/06/2022, 17/07/2022]","[$ 2300,0 reais, $ 2100,0 reais]"
14,H801 (blocoAP),"[15/06/2022, 15/07/2022]","[18/06/2022, 16/07/2022]","[$ 2400,0 reais, $ 2200,0 reais]"

In [4]:
colunas = list(dados.columns)
colunas

['apartamento',
 'datas_combinadas_pagamento',
 'datas_de_pagamento',
 'valor_aluguel']

In [5]:
dados = dados.explode(colunas[1:])
dados.reset_index(inplace=True, drop=True)

In [6]:
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
1,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
2,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
3,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
4,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"
5,B201 (blocoAP),03/07/2022,03/07/2022,"$ 2700,0 reais"
6,B202 (blocoAP),04/06/2022,07/06/2022,"$ 1300,0 reais"
7,B202 (blocoAP),04/07/2022,05/07/2022,"$ 2800,0 reais"
8,C301 (blocoAP),05/06/2022,10/06/2022,"$ 1400,0 reais"
9,C301 (blocoAP),05/07/2022,09/07/2022,"$ 2900,0 reais"
10,C302 (blocoAP),06/06/2022,08/06/2022,"$ 1500,0 reais"
11,C302 (blocoAP),06/07/2022,12/07/2022,"$ 1200,0 reais"
12,D401 (blocoAP),07/06/2022,07/06/2022,"$ 1600,0 reais"
13,D401 (blocoAP),07/07/2022,09/07/2022,"$ 1300,0 reais"
14,D402 (blocoAP),08/06/2022,10/06/2022,"$ 1700,0 reais"
15,D402 (blocoAP),08/07/2022,14/07/2022,"$ 1400,0 reais"
16,E501 (blocoAP),09/06/2022,10/06/2022,"$ 1800,0 reais"
17,E501 (blocoAP),09/07/2022,09/07/2022,"$ 1500,0 reais"
18,E502 (blocoAP),10/06/2022,16/06/2022,"$ 1900,0 reais"
19,E502 (blocoAP),10/07/2022,12/07/2022,"$ 1600,0 reais"
20,F601 (blocoAP),11/06/2022,17/06/2022,"$ 2000,0 reais"
21,F601 (blocoAP),11/07/2022,13/07/2022,"$ 1000,0 reais"
22,F602 (blocoAP),12/06/2022,15/06/2022,"$ 2100,0 reais"
23,F602 (blocoAP),12/07/2022,12/07/2022,"$ 1100,0 reais"
24,G701 (blocoAP),13/06/2022,19/06/2022,"$ 2200,0 reais"
25,G701 (blocoAP),13/07/2022,20/07/2022,"$ 1200,0 reais"
26,G702 (blocoAP),14/06/2022,15/06/2022,"$ 2300,0 reais"
27,G702 (blocoAP),14/07/2022,17/07/2022,"$ 2100,0 reais"
28,H801 (blocoAP),15/06/2022,18/06/2022,"$ 2400,0 reais"
29,H801 (blocoAP),15/07/2022,16/07/2022,"$ 2200,0 reais"

In [7]:
dados['valor_aluguel'] = dados['valor_aluguel'].apply(lambda x: x.replace('$', '').replace(',', '').replace('reais', '').strip())
dados

       apartamento datas_combinadas_pagamento datas_de_pagamento valor_aluguel
0   A101 (blocoAP)                 01/06/2022         05/06/2022         10000
1   A101 (blocoAP)                 01/07/2022         03/07/2022         25000
2   A102 (blocoAP)                 02/06/2022         02/06/2022         11000
3   A102 (blocoAP)                 02/07/2022         06/07/2022         26000
4   B201 (blocoAP)                 03/06/2022         07/06/2022         12000
5   B201 (blocoAP)                 03/07/2022         03/07/2022         27000
6   B202 (blocoAP)                 04/06/2022         07/06/2022         13000
7   B202 (blocoAP)                 04/07/2022         05/07/2022         28000
8   C301 (blocoAP)                 05/06/2022         10/06/2022         14000
9   C301 (blocoAP)                 05/07/2022         09/07/2022         29000
10  C302 (blocoAP)                 06/06/2022         08/06/2022         15000
11  C302 (blocoAP)                 06/07/2022         12/07/2022         12000
12  D401 (blocoAP)                 07/06/2022         07/06/2022         16000
13  D401 (blocoAP)                 07/07/2022         09/07/2022         13000
14  D402 (blocoAP)                 08/06/2022         10/06/2022         17000
15  D402 (blocoAP)                 08/07/2022         14/07/2022         14000
16  E501 (blocoAP)                 09/06/2022         10/06/2022         18000
17  E501 (blocoAP)                 09/07/2022         09/07/2022         15000
18  E502 (blocoAP)                 10/06/2022         16/06/2022         19000
19  E502 (blocoAP)                 10/07/2022         12/07/2022         16000
20  F601 (blocoAP)                 11/06/2022         17/06/2022         20000
21  F601 (blocoAP)                 11/07/2022         13/07/2022         10000
22  F602 (blocoAP)                 12/06/2022         15/06/2022         21000
23  F602 (blocoAP)                 12/07/2022         12/07/2022         11000
24  G701 (blocoAP)                 13/06/2022         19/06/2022         22000
25  G701 (blocoAP)                 13/07/2022         20/07/2022         12000
26  G702 (blocoAP)                 14/06/2022         15/06/2022         23000
27  G702 (blocoAP)                 14/07/2022         17/07/2022         21000
28  H801 (blocoAP)                 15/06/2022         18/06/2022         24000
29  H801 (blocoAP)                 15/07/2022         16/07/2022         22000

In [8]:
dados['valor_aluguel'] = dados['valor_aluguel'].astype(np.float64)
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [9]:
dados

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,10000.0
1,A101 (blocoAP),01/07/2022,03/07/2022,25000.0
2,A102 (blocoAP),02/06/2022,02/06/2022,11000.0
3,A102 (blocoAP),02/07/2022,06/07/2022,26000.0
4,B201 (blocoAP),03/06/2022,07/06/2022,12000.0
5,B201 (blocoAP),03/07/2022,03/07/2022,27000.0
6,B202 (blocoAP),04/06/2022,07/06/2022,13000.0
7,B202 (blocoAP),04/07/2022,05/07/2022,28000.0
8,C301 (blocoAP),05/06/2022,10/06/2022,14000.0
9,C301 (blocoAP),05/07/2022,09/07/2022,29000.0
10,C302 (blocoAP),06/06/2022,08/06/2022,15000.0
11,C302 (blocoAP),06/07/2022,12/07/2022,12000.0
12,D401 (blocoAP),07/06/2022,07/06/2022,16000.0
13,D401 (blocoAP),07/07/2022,09/07/2022,13000.0
14,D402 (blocoAP),08/06/2022,10/06/2022,17000.0
15,D402 (blocoAP),08/07/2022,14/07/2022,14000.0
16,E501 (blocoAP),09/06/2022,10/06/2022,18000.0
17,E501 (blocoAP),09/07/2022,09/07/2022,15000.0
18,E502 (blocoAP),10/06/2022,16/06/2022,19000.0
19,E502 (blocoAP),10/07/2022,12/07/2022,16000.0
20,F601 (blocoAP),11/06/2022,17/06/2022,20000.0
21,F601 (blocoAP),11/07/2022,13/07/2022,10000.0
22,F602 (blocoAP),12/06/2022,15/06/2022,21000.0
23,F602 (blocoAP),12/07/2022,12/07/2022,11000.0
24,G701 (blocoAP),13/06/2022,19/06/2022,22000.0
25,G701 (blocoAP),13/07/2022,20/07/2022,12000.0
26,G702 (blocoAP),14/06/2022,15/06/2022,23000.0
27,G702 (blocoAP),14/07/2022,17/07/2022,21000.0
28,H801 (blocoAP),15/06/2022,18/06/2022,24000.0
29,H801 (blocoAP),15/07/2022,16/07/2022,22000.0

In [10]:
dados['apartamento'].str.replace(' \(blocoAP\)', '', regex=True)
dados['apartamento'] = dados['apartamento'].str.replace(' \(blocoAP\)', '', regex=True)
dados

   apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0         A101                 01/06/2022         05/06/2022        10000.0
1         A101                 01/07/2022         03/07/2022        25000.0
2         A102                 02/06/2022         02/06/2022        11000.0
3         A102                 02/07/2022         06/07/2022        26000.0
4         B201                 03/06/2022         07/06/2022        12000.0
5         B201                 03/07/2022         03/07/2022        27000.0
6         B202                 04/06/2022         07/06/2022        13000.0
7         B202                 04/07/2022         05/07/2022        28000.0
8         C301                 05/06/2022         10/06/2022        14000.0
9         C301                 05/07/2022         09/07/2022        29000.0
10        C302                 06/06/2022         08/06/2022        15000.0
11        C302                 06/07/2022         12/07/2022        12000.0
12        D401                 07/06/2022         07/06/2022        16000.0
13        D401                 07/07/2022         09/07/2022        13000.0
14        D402                 08/06/2022         10/06/2022        17000.0
15        D402                 08/07/2022         14/07/2022        14000.0
16        E501                 09/06/2022         10/06/2022        18000.0
17        E501                 09/07/2022         09/07/2022        15000.0
18        E502                 10/06/2022         16/06/2022        19000.0
19        E502                 10/07/2022         12/07/2022        16000.0
20        F601                 11/06/2022         17/06/2022        20000.0
21        F601                 11/07/2022         13/07/2022        10000.0
22        F602                 12/06/2022         15/06/2022        21000.0
23        F602                 12/07/2022         12/07/2022        11000.0
24        G701                 13/06/2022         19/06/2022        22000.0
25        G701                 13/07/2022         20/07/2022        12000.0
26        G702                 14/06/2022         15/06/2022        23000.0
27        G702                 14/07/2022         17/07/2022        21000.0
28        H801                 15/06/2022         18/06/2022        24000.0
29        H801                 15/07/2022         16/07/2022        22000.0

In [20]:
dados['datas_combinadas_pagamento'] = pd.to_datetime(dados['datas_combinadas_pagamento'], format='%d/%m/%Y')
dados['datas_de_pagamento'] = pd.to_datetime(dados['datas_de_pagamento'], format='%d/%m/%Y')

In [21]:
dados['atraso'] = (dados['datas_de_pagamento'] - dados['datas_combinadas_pagamento']).dt.days

In [22]:
media_atraso = dados.groupby(['apartamento'])['atraso'].mean()

In [23]:
media_atraso

apartamento
A101    3.0
A102    2.0
B201    2.0
B202    2.0
C301    4.5
C302    4.0
D401    1.0
D402    4.0
E501    0.5
E502    4.0
F601    4.0
F602    1.5
G701    6.5
G702    2.0
H801    2.0
Name: atraso, dtype: float64